<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ClientId" value="d40ea3e1-d9cb-4082-921f-b0b8d2da2402"/>		
		<add key="TenantGuid" value="891bfbcf-042d-4b90-91b5-c8454f4a61ee"/>
		<add key="Authority" value="https://login.microsoftonline.com/"/>
		<add key="app:Name" value="MIP File SDK Sample App"/>
		<add key="app:Version" value="1.11"/>
	</appSettings>
</configuration>